// Importing general style
@import '../../assets/css/generalStyle';

// Include some styles of the popup
.main-container { width: 100%; height: 100vh;

    // Map styles
    .leaflet-container { background: $--color-dark-blue!important; }
    .map-container { width: 100%; height: 100%;
        .leaflet-bottom { display: none; }
        .leaflet-left { right: 10px; left: unset; }

        // Marker and popups styles
        .leaflet-marker-pane { img { width: 40px; height: 40px; outline: none; } }
        .leaflet-popup-close-button { display: none!important; }
        .leaflet-popup-content-wrapper { @include add_prefixes( border-radius, 10px ); }
        .leaflet-popup-content-wrapper, .leaflet-popup-tip { background: rgba( 28, 29, 36, 0.8 ); backdrop-filter: blur( 14px ); box-shadow: none!important; }
        .leaflet-popup-content { width: 550px!important; padding: 8px; }
        .leaflet-popup-tip-container, .leaflet-routing-container { display: none; }
        .leaflet-bar { border: none!important;
            a { background-color: $--color-dark-blue; color: $--color-light-gray; @include add_prefixes( border-radius, 5px!important ); border: none; margin-bottom: 3px; @extend %transitions;
                &:hover { background-color: $--color-green; color: $--color-white; }
            }
        }

        // View the video of the camera inside the popup for the cameras markers :)
        .camera-popup { margin: 0; padding: 0;
            .leaflet-popup-content { margin: 0; padding: 0; line-height: 0; max-width: 530px; }
            .leaflet-popup-content-wrapper { padding: 0; background-color: transparent; }
            .cctv-camera { width: 100%; margin: 0;
                .video-streem { margin: 0; }
                .video-options { left: 0; right: 0; }
            }
        }
    }

    // Chgange classes to open and close the sliding menu for adding an event
    .overflow-toggle-class { overflow: hidden; }
    .add-event-closed { height: 0!important; overflow: hidden; padding: 0 150px!important; }
    .circle-button { @extend %transitions; bottom: 435px; @include add_prefixes( transform, rotate( 180deg ) ); }
    .circle-button-closed { bottom: 48px; @include add_prefixes( transform, rotate( 0deg ) ); }
}