// Importing general style
@import '../../assets/css/generalStyle';

// Edit event panel styles
.edit-event { width: 500px; height: calc( 100vh - 88px ); background: rgba( 28, 29, 36, 0.8 ); backdrop-filter: blur( 14px ); position: fixed; top: 0; right: 0; z-index: 9999; overflow: auto; padding: 30px 20px; color: $--color-white; text-align: left;
    // Hiding the scroll bar
    &::-webkit-scrollbar { width: 0; }
    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb { background-color: transparent; }

    // Reset inputs and texts styles
    & > div { border-bottom: $--border-opacity; margin-bottom: 20px; &:last-of-type { border: none; margin-bottom: -15px; } }
    .title { text-transform: uppercase; font-size: 17px; letter-spacing: .3px; margin-bottom: 15px; }
    .input-area { padding-top: 0; input { background-color: $--color-dark-blue; } }
    .text-area-area textarea { background-color: $--color-dark-blue; }
    .radio-button-group label:not([class="main-label"]) { background-color: $--color-dark-blue; margin-top: 0; }
    .search-location .button-danger { top: 30px; }
    .edit-main-information { padding-bottom: 18px; }

    // Progress bar styles ( the half circle progress bar )
    .progress-bar { overflow: hidden; padding: 0; margin-top: -25px; background-color: transparent;
        .RCP { width: 90%!important; }
        svg { width: 100%!important; height: 180px!important; position: relative; left: 0; top: 0; }
        .remaining-time-and-distance { color: $--color-white; position: absolute; top: 50%; left: 50%; transform: translate( -50%, -50% ); width: 100%; letter-spacing: -1px; text-align: center;
            h3 { font-weight: 700; font-size: 25px; margin-top: 15px; margin-bottom: 0; }
            p { color: $--color-light-gray; font-size: 16px; margin-top: 0; }
        }
    }

    // Current event information styles
    .current-event-info {
        .event-info { padding-left: 0; margin-left: -2px;
            .meta-info { margin-bottom: 2px; color: $--color-light-gray; letter-spacing: .1px;
                span { color: $--color-green; font-weight: 500; }
                .circle { width: 10px; height: 10px; display: inline-block; background-color: $--color-green; @include add_prefixes( border-radius, 50%); margin-right: 3px; }
            }
        }
    }

    // Event respond styles
    // Styling the accordion and titles with contents ...etc
    .edit-event-respond {
        .card { background-color: transparent; border: none; @include add_prefixes( border-radius, 0 ); padding: 0;
            .card-header { padding: 0; margin: 0; border: none; background-color: transparent;
                button { margin: 0!important; padding: 0!important; background-color: transparent; color: $--color-light-gray; font-size: 16px!important; margin-bottom: 6px!important; letter-spacing: .3px!important;
                    .checkbox { pointer-events: none;
                        .checkbox-container { display: block; position: relative; margin: 0!important; padding: 0!important; padding-left: 0!important; background-color: transparent; color: $--color-light-gray; font-size: 16px!important; margin-bottom: 6px!important; letter-spacing: .3px!important; cursor: pointer;
                            .iconly { margin-right: 4px; }
                        }
                        // Make opened tab green
                        .checked { color: $--color-green; }
                    }
                }
            }
            // Accordion body styles ( the inputs )
            .card-body { padding: 0!important;
                .row > div { padding: 0 5px;
                    &:first-of-type { padding-left: 15px; }
                    &:last-of-type { padding-right: 15px; }
                }
                .input-area { padding: 0; }
            }
        }
    }

    // Edit and cancel buttons
    .options { margin-top: -10px; button { width: calc( 50% - 5px ); line-height: 31px; } }
}